/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/




/** Base Body Styles **/
body{ background: url(../../img/body-bg.png); color:#000; font: 13px/1.7em 'Open Sans';background:#eee;}


.account-container {
	width: 380px; 
	display: block;
	margin: 0 auto;
	
	background: #f9f9f9;
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
    margin-top:20px;
}

.result-container {
	width: 580px; 
	display: block;
	margin: 0 auto;
	
	background: #f9f9f9;
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.order-container {
	width: 510px; 
	display: block;
	margin: 0 auto;
	
	background: #f9f9f9;
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}



.content {
	padding: 16px 28px 23px;
} 

.login-fields {
	
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 50px;
	background-color: #fdfdfd;
	width: 255px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}

.username-field { background: url(../../img/signin/user.png) no-repeat; }

.password-field { background: url(../../img/signin/password.png) no-repeat; }




.login-actions {
	float: left;
	
	width: 100%;
	
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-social {
	float: left;
	
	padding: 10px 0 15px;
	
	border: 1px dotted #CCC;
	border-right: none;
	border-left: none;	
}

span.login-checkbox {
	float: left;
	margin-top: 31px;
}

span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
    
	height: 15px; 
	display: block;
    padding: 0 0 0 22px;
    margin: 0;
    
    font-size: 12px;
    line-height: 1.2em;
    
    background: url(../../img/signin/check.png) no-repeat 0 0;
    
    cursor: pointer;
}

span.login-checkbox > input[type='checkbox']:checked + label {	
	background-position: 0 -15px;
}

/** Text Under Box**/
.login-extra {
	display: block; 
	width: 300px; 
	margin: 1.5em auto;
	 
	text-align: center;
	line-height: 19px; 
	
	text-shadow: 1px 1px 0px #fff; 	
}


.account-container h1 {
	margin-bottom: .4em;
	
	color: #525252;
}

/** Buttons **/
.twitter, .fb {
	position: relative;
	
	height: 32px; 
	width: 157px; 
	display: block;
	
	background: url(../../img/signin/twitter_btn.png) no-repeat; 
	
}

.fb {
	width: 162px; 
	
	background: url(../../img/signin/fb_btn.png) no-repeat; 	
}

.twitter:active, .fb:active {
	top: 1px;
}

.twitter:hover, .fb:hover {
	background-position: 0 -32px;
}

.twitter a, .fb a {
	padding: 5px 0 0 35px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 11px; 
	height: 32px; 
	display: block;	
}

.fb a {
	padding: 5px 0 0 31px; 
	
}

.twitter, .fb {
	display: inline-block;
}

.twitter a:hover, .fb a:hover {
	color: #FFF;
	text-decoration: none;
}

.button {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; float: right; margin-top: 18px;}






.register .login-social {
	margin-bottom: 1em;
}

.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -10px;
	width: 320px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	
	position: relative;
	
	line-height: 1.3em;
}



@media (max-width: 480px) {
	
	.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input {
		width: 160px;
	}
	
	.login-social {
		width: 100%;
	}
	
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	
}

select {
    width:100%;
    height:40px;
    margin:0px;
}

fieldset input {
    display:inline !important;
    width:15px !important;
    border:0px !important;
    box-shadow: none !important;
}

fieldset small {
    display:inline-block !important;
    width:40px !important;
    border:0px !important;
    box-shadow: none !important;
    font-size:11px;
}

.rbr {
    width:38px;
    height:38px;
    line-height:40px;
    text-align:center;
    float:left;
    border:1px solid #ccc;
    border-radius:5px;
    margin-right:10px;
}

.item {
    width:165px;
    height:38px;
    line-height:40px;
    text-align:center;
    float:left;
    border:1px solid #ccc;
    border-radius:5px;
    margin-right:10px;
}

.order {
    overflow:hidden;
    margin-bottom:10px;
}

.quantity {
    float:left;
    width:70px !important;
    margin-left:10px;
    height:17px;
    text-align:center;
}

.order_price {
    float:left;
    width:70px !important;
    margin-left:10px !important;
    height:17px;
    text-align:center;
}

.full_price {
    float:left;
    width:70px;
    line-height:40px;
    font-weight:bold;
    padding-left:10px;
    text-align:center;
}

.champion {
    overflow:hidden;
    margin-bottom:10px;
}

.champion select {
    float:left;
    width:200px;
}

.champion input {
    float:left;
    width:240px !important;
    margin-left:10px;
    height:17px;
}

/* Cash register */

.register-round {
    width:1900px;
    display:block;
    margin:0 10px;
}

.cash-register {
	width: 1340px; 
	display: block;
    float:left;
	background: #f9f9f9;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.cash-register h3 {
    float:left;
    width:1300px;
    line-height:30px;
    margin:5px;
    border-bottom:1px solid #ccc;
    background:#ccc;
    color:#000;
    padding-left:10px;
    border-radius:5px;
}

.bill {
	width: 300px; 
	display: block;
    float:left;
	background: #f9f9f9;
	padding:10px;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    margin-left:20px;
    margin-bottom:10px;
	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.bill-header {
    width:300px;
    line-height:30px;
    border-bottom:1px solid #000;
    color:#000;
    font-size:18px;
    font-weight:bold;
}

.bill-header span {
    float:right;
    font-size:12px;
    color:#ccc;
    line-height:30px;
}

.bill-date {
    width:300px;
    line-height:20px;
    font-size:10px;
    color:#ccc;
}

.bill-date span {
    float:right;
}

.bill input {
    width:290px;
    margin-top:10px;
}

.bill-row {
    position:relative;
    width:300px;
    line-height:50px;
    border-top:1px dashed #ccc;
}


.bill-row span {
    float:right;
    padding-right:40px;
    text-align:right;
}

.bill .bill-row:last-child {
    border-bottom:none;
}

.plusminus {
    position:absolute;
    top:0px;
    right:0px;
    font-size:16px;
}

.plusminus i {
    margin:0 3px;
}

.cash-content {
	padding: 10px;
}

.product-round {
    float:left;
    width: 120px; 
    height:140px;
	display: block;
	background: #f9f9f9;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
    margin:5px;
}

.product-round:hover {
    background:#f3f3f3;
    cursor:pointer;
}

.product-round label {
    width:120px;
    text-align:center;
    line-height:25px;
    font-weight:bold;
    margin:0px;
    background:#000;
    color:#fff;
    border-radius:5px 5px 0 0;
    font-size:12px;
}

.product-round img {
    width:100px;
    height:100px;
    text-align:center;
    margin:0 10px;
}

.product-round p {
    width:120px;
    text-align:center;
    line-height:10px;
    font-weight:bolder;
    font-size:14px;
    color:#000;
}

.bill-discount {
    width:280px;
    line-height: 30px;
    border-top:1px solid #000;
    padding:0 10px;
}

.bill-discount span{
    float:right;
    text-align:right;
    font-weight:bolder;
}

.bill-sl {
    width:280px;
    line-height: 50px;
    border-top:1px solid #000;
    padding:0 10px;
}

.bill-sl span{
    float:right;
    text-align:right;
    font-weight:bolder;
}

.bill-sum {
    width:280px;
    line-height:40px;
    font-size:18px;
    font-weight:bold;
    color:#fff;
    background:#000;
    padding:0 10px;
}

.bill-sum span {
    float:right;
    text-align:right;
    font-weight:bolder;
}

.pay {
    width:300px;
}

.bills3 {
    width:300px;
    border-bottom:1px dashed #ccc;
    line-height:30px;
}

.bills3 span {
    float:right;
}

.playstation {
    padding:10px;
}

.sony {
    float:left;
    position:relative;
    width: 190px; 
    height:160px;
	display: block;
	background: #f9f9f9;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
    margin:5px;
}

.sony label {
    width:190px;
    text-align:center;
    line-height:25px;
    font-size:16px;
    font-weight:bold;
    margin:0px;
}

.sony img {
    width:100px;
    height:100px;
    text-align:center;
    margin:0 40px;
}

.sony p {
    float:left;
    width:37px;
    height:25px;
    text-align:center;
    line-height:25px;
    font-weight:bold;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    margin:0 4px;
}

.sony p:hover {
    background:#000;
    color:#fff;
    cursor:pointer;
}

.sony_free {
    background:#00d900;
}

.sony_soon {
    background:#ff7777;
}

.sony_active {
    background:#7777ff;
}

.iiplayers {
    position:absolute;
    left:4px;
    top:4px;
    width:26px;
    height:26px;
    text-align:center;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    padding:3px;
}

.iiplayers img {
    width:20px;
    height:20px;
    text-align:center;
    margin:0px;
}

.ivplayers {
    position:absolute;
    right:4px;
    top:4px;
    width:26px;
    height:26px;
    text-align:center;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    padding:3px;
}

.ivplayers img {
    width:20px;
    height:20px;
    text-align:center;
    margin:0px;
}

.iiplayers:hover, .ivplayers:hover {
    background:#fff;
    cursor:pointer;
}



.driver {
    position:absolute;
    right:4px;
    top:40px;
    width:26px;
    height:26px;
    text-align:center;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    padding:3px;
}

.driver img {
    width:20px;
    height:20px;
    text-align:center;
    margin:0px;
}

.plactive {
    border:1px solid #555;
    background:#ff0;
}